{% extends 'base.html' %}

{% block title %}Dawn of Bioinformatics | Home{% endblock %}

{% block content %}
    <!-- 1: Intro Page Hero -->
    {% include 'core/components/home/01_hero.html' %}

    <!-- 2: Statistics -->
    {% include 'core/components/home/02_stats.html' %}

    <!-- 3: CEO Speech -->
    {% include 'core/components/home/03_ceo.html' %}

    <!-- 4: About Section Ecosystem, Mission, Vision -->
    {% include 'core/components/home/04_about.html' %}

    <!-- 5: General Bioinformatics Services -->
    {% include 'core/components/home/05_general_services.html' %}

    <!-- 6: Clinical Bioinformatics Course/Services -->
    {% include 'core/components/home/06_clinical_services.html' %}

    <!-- 7: Proprietary Web Apps -->
    {% include 'core/components/home/07_web_apps.html' %}

    <!-- 8: IBAI -->
    {% include 'core/components/home/08_ibai.html' %}

    <!-- 9: DawniLab (BMPPD) -->
    {% include 'core/components/home/09_dawnilab.html' %}

    <!-- 10: Research Insights -->
    {% include 'core/components/home/10_research.html' %}

    <!-- 11: BSDS Campus Activities -->
    {% include 'core/components/home/11_bsds.html' %}

    <!-- 12: Latest News and Blogs -->
    {% include 'core/components/home/12_news.html' %}

    <!-- 13: Join Us Call to Action -->
    {% include 'core/components/home/13_join_us.html' %}

    <!-- 14: Feedback Form -->
    {% include 'core/components/home/14_feedback.html' %}
{% endblock %}